body {
    padding: 0;
    margin: 0;
    column-count: 1;
    background-color: #252F3E;
}

p {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 250px;
    height: 250px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Mono', monospace;
}

/* NavBar */

.NavBar {
    height: 7rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.NavBar .Titulo{
    display: flex;
    flex-direction: row;
    color: white;
}
.NavBar .Titulo a{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 5rem;
    text-decoration: none;
    color: white;
}
.NavBar .Titulo div p{
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.NavBar .Navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar .Navegacion a{
    color: white;
    text-decoration: none;
    margin: .5rem;
    font-size: 1.2rem;
}
.NavBar .Navegacion a:hover{
    color: #D3A42D;
}
.App {}

/* Presentacion */

.Presentacion {
    margin: 1rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 0;
}

.Presentacion h3 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: #D3A42D;
}

.Presentacion p {
    width: 50%;
    text-align: center;
}

/* pc */

.Componentes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.pc {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    margin: 1rem;
    color: white;
    text-align: center;
    background-color: #999999;
}

.pc .TitleTopContainer, .PcPagina .TitleTopContainer{
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #000000;
}

.pc .TitleTopContainer a {
    color: #27232F;
    font-size: 3rem;
    padding: .5rem;
    border-radius: .5rem;
    background: linear-gradient(to right, #dacaa4, #574937);
}

.pc img {
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-bottom: -10px;
}

/* Colores */

.Color1, .Presentacion, .NavBar {
    background-color: #151B23;
}

.Color2 {
    background-color: #F8F9FA;
}

/* pcPagina */

.PcPagina {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.PcPaginaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    background-color: #999999;
}

.PcPagina .TitleTopContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.PcPaginaContainer .TitleTopContainer h3 {
    font-size: 4rem;
    margin: 0rem;
}

.PcPaginaContainer h3{
    color: #D3A42D;
}
.PcPaginaContainer h4 {
    color: black;
}

.PcPaginaContainer h4 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.PcPaginaContainer .Dato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.PcPaginaContainer .Dato p {
    margin: .5rem;
    font-size: 1.2rem;
}

.PcPaginaContainer .Dato p i {
    margin: .5rem;
}

.PcPaginaContainer a {
    font-size: 2rem;
    color: black;
}

.PcPaginaContainer .bottom {
    margin-bottom: 1rem;
}

/* Normas uso */

.NormasUso{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    padding-top: 2rem;
}
.NormasUso ul li{
    padding: .3rem;
    list-style: decimal;
}

/* Plano */

.Plano{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Plano p{
    color: white;
    font-size: 1.3rem;
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.Plano .imgPlano{
    width: 80%;
    height: 25rem
}
.Plano .imgTopologia{
    width: 50%;
    height: 45rem;
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    .pc img {
        width: 150px;
        height: 150px;
        margin-bottom: -17px;
    }

    .pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pc .TitleTopContainer{
        padding-top: .4rem;
    }

    .pc .TitleTopContainer a {
        border-radius: 0;
        border-top-left-radius: 2rem;
    }

    .pc a {
        margin-top: 3rem;
    }

    .pc img{
        margin-bottom: .3rem;
        padding-right: 18%;
    }

    .Componentes {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .PcPaginaContainer {
        width: 40%;
    }

    .PcPaginaContainer h3 {
        font-size: 3rem;
    }

    .PcPaginaContainer h4 {
        font-size: 2rem;
    }

    .PcPaginaContainer img {
        width: 200px;
        height: 200px;
    }

    .PcPaginaContainer .Dato p {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .Presentacion h3 {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    .Presentacion p {
        width: 80%;
        text-align: center;
    }

    .PcPaginaContainer {
        width: 50%;
    }

    .Plano .imgTopologia{
        height: 30rem;
    }
    .NavBar .Navegacion a{
        font-size: 1rem;
    }
    .NavBar {
        grid-template-columns: 30% 70% 0%;
    }
}

@media (max-width: 800px){

}

@media (max-width: 750px) {
    .pc img {
        width: 150px;
        height: 150px;
        margin-bottom: .3rem;
    }

    .pc {
        padding: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pc a {
        margin-top: 3rem;
    }

    .Componentes {
        display: grid;
        grid-template-columns: 100%;
    }

    .NavBar .Titulo a{
        margin-left: 1rem;
    }
    
    .pc .TitleTopContainer{
        margin-left: 0;
        padding-top: .4rem;
    }

    .pc .TitleTopContainer a {
        border-radius: 0;
        border-top-left-radius: 2rem;
    }
}

@media (max-width: 650px) {
    .Presentacion {
        height: 15rem;
    }

    .Presentacion h3 {
        font-size: 2.5rem;
    }

    .Presentacion p {
        font-size: .8rem;
    }

    .PcPaginaContainer {
        width: 70%;
    }
    .NormasUso ul li{
        padding: .5rem;
        font-size: 1.2rem;
    }
}
@media (max-width: 550px){
    .NavBar .Titulo a{
        margin-top: 1.2rem;
        margin-left: 1rem;
        font-size: 4rem;
    }
    .NavBar .Titulo div p{
        font-size: .8rem;
        margin-left: .8rem;
    }
}

@media (max-width: 450px) {
    .NavBar .Navegacion{
        flex-direction: column;
    }
    .Presentacion h3 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }

    .Presentacion p {
        font-size: .7rem;
        width: 80%;
        text-align: center;
    }

    .PcPaginaContainer h3 {
        font-size: 2rem;
    }

    .PcPaginaContainer h4 {
        font-size: 1.8rem;
    }

    .PcPaginaContainer img {
        width: 150px;
        height: 150px;
    }

    .PcPaginaContainer .Dato p {
        font-size: .8rem;
    }
}
@media (max-width: 400px){
    .NavBar .Navegacion a{
        margin-left: 4rem;
    }

    .pc .TitleTopContainer{
        padding-top: .4rem;
    }

    .pc .TitleTopContainer a {
        font-size: 2.4rem;
    }

    .pc img{
        padding-right: 8%;
    }
}